@{
    ViewData["Title"] = "HTMl Return Page";
}

<!doctype Html>
<html>
    <Head>
        <title>HTML page</title>
    </Head>
    <body>
        <h3>This is an example of returning HTML page</h3>
    </body>
</html>